{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clientes list</h1>

    <table>
        <thead>
            <tr>
                <th>Idcliente</th>
                <th>Clientenit</th>
                <th>Clientenombre</th>
                <th>Clienteapellido</th>
                <th>Clientenombrecomercial</th>
                <th>Clientedireccionparticular</th>
                <th>Clientetelefonoparticular</th>
                <th>Clientedireccioncomercial</th>
                <th>Clientetelefonocomercial</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{{ path('cliente_show', { 'idcliente': cliente.idcliente }) }}">{{ cliente.idcliente }}</a></td>
                <td>{{ cliente.clienteNit }}</td>
                <td>{{ cliente.clienteNombre }}</td>
                <td>{{ cliente.clienteApellido }}</td>
                <td>{{ cliente.clienteNombreComercial }}</td>
                <td>{{ cliente.clienteDireccionParticular }}</td>
                <td>{{ cliente.clienteTelefonoParticular }}</td>
                <td>{{ cliente.clienteDireccionComercial }}</td>
                <td>{{ cliente.clienteTelefonoComercial }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cliente_show', { 'idcliente': cliente.idcliente }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cliente_edit', { 'idcliente': cliente.idcliente }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cliente_new') }}">Create a new cliente</a>
        </li>
    </ul>
{% endblock %}
