{% extends 'base.html.twig' %}

{% block title_button %}
    <h1 class="h3 mb-0 text-gray-800">Activos Cliente</h1>
    <a href="{{ path('activo_new', { 'idcliente': idcliente }) }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-user-plus fa-sm text-white-50"></i> Nuevo</a>
{% endblock %}

{% block body %}
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Categoria</th>
                <th>Subcategoria</th>
                <th>Nombre</th>
                <th>Caracteristicas</th>
                <th>Valor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activo in activos %}
            <tr>
                <td>{% if activo.activoTipo %}{{ activo.activoTipo|join(', ') }}{% endif %}</td>
                <td>{% if activo.activoTipoCategoria %}{{ activo.activoTipoCategoria|join(', ') }}{% endif %}</td>
                <td>{% if activo.activoTipoSubcategoria %}{{ activo.activoTipoSubcategoria|join(', ') }}{% endif %}</td>
                <td>{{ activo.activoNombre }}</td>
                <td>{{ activo.activoCaracteristica }}</td>
                <td>{{ activo.activoValor }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('activo_show', { 'idactivo': activo.idactivo }) }}">VER</a>
                        </li>
                        <li>
                            <a href="{{ path('activo_edit', { 'idactivo': activo.idactivo }) }}">EDITAR</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
